<div class="form">
  <h4 class="content-section-header">Would you like to approve the payment request {{requestId}}?</h4>
  <ul class="list-group borderless">
    <li class="list-group-item content-section">
      <div class="content-section-row">
        <div class="content-section-textarea-row">
          <mat-form-field class="textarea">
            <textarea matInput placeholder="审批备注" [(ngModel)]="comment" [formControl]="txtComment" id="comment" name="comment"></textarea>
            <mat-hint>Comment</mat-hint>
            <mat-error *ngIf="txtComment.invalid">
              Required when rejecting the payment request.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </li>
  </ul>
  <div class="button-section">
    <div class="button-block">
      <button (click)="onbtnApproveClick()" type="button">Approve</button>
    </div>
    <div class="button-block">
      <button (click)="onbtnRejectClick()" type="button">Reject</button>
    </div>
    <div class="button-block">
      <button (click)="onbtnCloseClick()" type="button">Close</button>
    </div>
  </div>
</div>