.form {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-section-header {
    font-weight: bold;
}

.content-section {
    padding-left: 60px;
    padding-bottom: 25px;
}

.content-section-row {
    height: 70px;
}

.content-section-left-column {
    display: inline-block;
    width: 40%;
}

.content-section-right-column {
    display: inline-block;
}

.content-section-textarea-row {
    height: 90px;
}

.button-section {
    text-align: center;    
}

.button-block {
    display: inline-block; 
    width: 12%;
}

.form input {
    border:none;
}

.textarea {
    width: 300px;
    padding: 0px;
}
